<div class="row">

  <div class="title-div">
    <h1 class="mainTitle">Saving Money, Made Easy</h1>
    <button type="button" class="btn btn-lg dload-btn"><i class="fab fa-apple"></i> Download</button>
  </div>

  <div class="img-div">
    <img class="main-pic" src="/images/illus.png" alt="iphone-mockup">
  </div>

</div>
