<div class="row">

  <div>
    <h1>Saving Money, Made Easy</h1>
    <button type="button" class="btn btn-lg dload-btn"><i class="fab fa-apple"></i> Download</button>
  </div>

  <div>
    <img class="main-pic" src="/images/illus.png" alt="iphone-mockup">
  </div>

</div>
