body {
  background-color: #393bb6;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: white;
  text-align: center;
}

.container-fluid {
  padding: 3% 15% 7%;
}

.dload-btn {
  background-color: #ff7758;
  color: white;
  margin: 5% 3% 5% 0;
}

/* Nav */
.navbar-brand {
  font-size: 2rem;
  font-weight: bold;
  font-family: sans-serif;
}

.nav-item {
  padding: 0 20px;
}

.navbar {
  padding: 0 0 4rem;
}

.main-pic {
  width: 100%;
  top: 3rem;
}

/* @media all and (max-width: 320px) {
  .mainTitle {
    font-size: 1rem;
  }
  
  .dload-btn {
    font-size: small;
  }

  .img-div {
    padding: 0;
  }
} 

@media screen and (min-width: 768px) {
  .img-div {
    padding: 20px;
  }
} 

@media screen and (min-width: 1200px) {
  .title-div {
    padding: 20px;
  }

  .mainTitle {
    font-size: 4rem;
  }
} */